<h1>Madlib</h1>

<p>Today I went to my favorite Taco Stand called the @Model.Adjective @Model.Animal. Unlike most food</p> 
<p>stands, they cook and prepare the food in a @Model.Ride while you @Model.Verb. The best thing on the</p> 
<p>menu is the @Model.Color @Model.Noun. Instead of ground beef they fill the taco with @Model.Foods, cheese, and</p> <p>top it off with a salsa made from @Model.Foods. If that doesn't make your mouth water,</p> <p>then it' just like @Model.Person always says: @Model.Saying!</p> 